[submodule "lib/symbioticfi/core"]
	path = lib/symbioticfi/core
	url = https://github.com/symbioticfi/core
[submodule "lib/OpenZeppelin/openzeppelin-contracts"]
	path = lib/OpenZeppelin/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/OpenZeppelin/openzeppelin-contracts-upgradeable"]
	path = lib/OpenZeppelin/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "lib/symbioticfi/collateral"]
	path = lib/symbioticfi/collateral
	url = https://github.com/symbioticfi/collateral
[submodule "lib/foundry-rs/forge-std"]
	path = lib/foundry-rs/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "lib/symbioticfi/rewards"]
	path = lib/symbioticfi/rewards
	url = https://github.com/symbioticfi/rewards.git
[submodule "lib/symbioticfi/burners"]
	path = lib/symbioticfi/burners
	url = https://github.com/symbioticfi/burners.git

